@font-face {
  /* font-family: 'Morganite-Medium'; */
  /* src: url('../public/font/Morganite-Medium.ttf') format('truetype'); */
}

:root {
  --color-inicial-inmofinanza: #54bcec;
  --color-final-inmofinanza: #20234b;
  --color-fondo: rgb(255, 255, 255);
  --color-letra-titulo: #fff;
}

body {
  background: linear-gradient(45deg, #111827, #111827);
  color: white;
  /* font-family: 'Morganite-Medium', sans-serif; */
  font-size: 14px;
  /* background-color: var(--color-fondo); */
}

.text-color-inmofinanzas {
  color: var(--color-letra-titulo);
}

.bg-titulo-inmofinanzas {
  background: linear-gradient(to right, var(--color-inicial-inmofinanza), var(--color-final-inmofinanza));
}

.bg-boton-inmofinanzas {
  background: linear-gradient(to right, var(--color-inicial-inmofinanza), var(--color-final-inmofinanza));
  color: white;
}

.card-img-size {
  height: 250px;
  max-height: 250px;
}

.color-fondo-seccion {
  background-color: #f3f4f6b5;
}

.card-body {
  overflow: hidden;
  /* Oculta el contenido que sobresale */
}

.card-title,
.card-text {
  overflow: hidden;
  /* Oculta el texto que sobresale */
  white-space: nowrap;
  /* Evita que el texto se desborde a una nueva línea */
  text-overflow: ellipsis;
  /* Agrega puntos suspensivos (...) al texto que se recorta */
}