@font-face {
    /* font-family: 'Morganite-Medium'; */
    /* src: url('../../../public/font/Morganite-Medium.ttf') format('truetype'); */
}


/* Estilo para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .img_cabeza {
        margin-top: -10%;
    }
}

.contenedor-red-social {
    /* background: linear-gradient(180deg, #ffffff 0%, #ffffff 15%, #44b3e5 34%, #44b3e5 50%, #06538f 75%, #25295c 100%); */
    font-family: 'Morganite-Medium', sans-serif;
}


.icon {
    max-width: 1.5rem;
    display: flex;
    align-items: center;
}

.youtube {
    background: linear-gradient(0deg, #f60002 0%, #f60002 100%);
}

.facebook {
    background: linear-gradient(0deg, #0863f7 0%, #0863f7 100%);
}

.tiktok {
    background: linear-gradient(320deg, #ee1e52 0%, #ee1e52 5%, rgb(0, 0, 0) 15%, rgb(0, 0, 0) 85%, #68c9d0 95%, #68c9d0 100%);
}

.whatsapp {
    background: linear-gradient(0deg, rgba(46, 153, 33, 1) 0%, rgba(94, 227, 87, 1) 100%);
}

.instagram {
    background: linear-gradient(42deg, rgba(245, 132, 60, 1) 0%, rgba(215, 57, 122, 1) 55%, rgba(89, 89, 206, 1) 100%);
}

.btn-red-social {
    display: inline-flex;
    align-items: normal;
    justify-content: center;
    gap: 5px;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 0.5rem 0.7rem;
    border-radius: 20px;
    /* font-size: 16px; */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    animation: fadeIn 0.5s ease forwards;
    /* Agrega una animación de entrada */

}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* Empieza con opacidad 0 */
    }

    to {
        opacity: 1;
        /* Termina con opacidad 1 */
    }
}


.btn-red-social:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}

.btn-red-social svg {
    fill: white;
    width: 2rem;
}

.btn-red-social:active {
    background-color: rgba(0, 0, 0, 0.9);
}

.img_cabeza {
    width: 9rem;
}
